<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <legend>Signin to chat!</legend>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div  class="form-group"><%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

        <div class="checkbox">
          <% if devise_mapping.rememberable? -%>
              <label>
                <%= f.check_box :remember_me %> Remember me
              </label>

          <% end -%>
        </div>

        <div><%= f.submit "Sign in", class: "btn btn-primary" %></div>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
    <br><br>
   <h2>INFORMATION</h2>
    <body bgcolor="#CFD8DC">
    <p>
    <h3>Aim</h3>
    To help people reduce theIr stress level and fight depression.
    </p>

    <p>
      Ever experienced the relief you feel after sharing your pains/problems to someone. This is exactly what we provide here.
      A platform where people wanting advice/feeling low can interact people willng to help.
    </p>
    <br>
    <hr align="center" size="3" width="100%" noshade>
    <br>
    <h3>How it works</h3>
    <ol start="1" type="1">
      <li>Sign in using an <b>alias name</b> to protect your identity. Here basic info of the user is taken like their field of expertise, hobbies/interests, one line describing themselves etc.
      <li>Desribe in a sentence how you are feeling when you sign_up and you can change it any time you want.
      <li>Based on how you are feeling and how other online users are feeling you can talk to people feeling the same way as you are.
      You can talk anonymously to that person.
      <li>So sign up right now if you haven't already to share your story.
    </ol>
    </body>
    </html>
    </div>
</div>
